




 </section>
 {% for category in category_list %}
 <section class="menu-item" id="{{ category.name|lower }}" style="display:none;">
   <nav class="category-menu">
     <ul>
       {% if subcategory in category.subcategories.all%}
       {% for subcategory in category.subcategories.all %}
         <li><a href="#{{ subcategory.name | slugify }}" onclick="scrollToCategory('{{ subcategory.name | slugify }}')">{{ subcategory.name }}</a></li>
       {% endfor %}
     </ul>
   </nav>
     {% for subcategory in category.subcategories.all %}
     <div class="label10">{{ subcategory.name }}</div>
     <ul>
         {% for item in subcategory.items.all %}
         <li>
             <div class="label10">{{ item.name }}</div>
             <div class="description1">{{ item.description }}</div>
             {% if item.variants.all %}
             <div class="price" id="price-{{ item.id }}">from {{ item.price }} €</div>
             {% else %}
             <div class="price" id="price-{{ item.id }}">{{ item.price }} €</div>
             {% endif %}
             <div class="bottom">
                 <img class="right-icon" loading="lazy" alt="" src="{{ item.image }}" />
                 {% if item.variants.all %}
                 <button type="button" class="add-button" onclick="loadItemDetails('{{ item.name }}')">Add</button>
                 {% endif %}
                 {% if not item.variants.all %}
                 <button type="button" class="add-button" onclick="addToCart('{{ item.name }}', {{ item.price }});">Add</button>
                 {% endif %}
             </div>
         </li>
         {% endfor %}
     </ul>
     {% endfor %}
     {% else %}
     {% for item in category.items.all %}     
     <ul>
       <li><div class="label10">{{ item.name }}</div>
         <div class="description1">{{ item.description }}</div>
         {% if item.variants.all %}
           <div class="price" id="price-{{ item.id }}">from {{ item.price }} €</div></li>
           {% endif %}
           {% if not item.variants.all %}
           <div class="price" id="price-{{ item.id }}">{{ item.price }} €</div></li>
           {% endif %}
         
       <div class="bottom">
         <img class="right-icon"
         loading="lazy"
         alt=""
         src={{item.image}}
       />
   
       {% if item.variants.all %}
       <button type="button" class="add-button" onclick="loadItemDetails('{{item.name}}')">Add</button>
           </button>
       
       {% endif %}
       
   
       {% if not item.variants.all %}
       <div class="bottom">
         <button type="button" class="add-button" onclick="addToCart('{{item.name}}', {{item.price}});">Add</button>
       </button>
       {% endif %}
       </div>
     </ul>
   </div>
   </div>
   {% endfor %}
         </div>
       </section>
   
       
       <section class="menu-item" id="soft">
         {% for item in soft.items.all %}     
     <ul>
       <li><div class="label10">{{ item.name }}</div>
         <div class="description1">{{ item.description }}</div>
         {% if item.variants.all %}
           <div class="price" id="price-{{ item.id }}">from {{ item.price }} €</div></li>
           {% endif %}
           {% if not item.variants.all %}
           <div class="price" id="price-{{ item.id }}">{{ item.price }} €</div></li>
           {% endif %}
         
       <div class="bottom">
         <img class="right-icon"
         loading="lazy"
         alt=""
         src={{item.image}}
       />
   
       {% if item.variants.all %}
       <button type="button" class="add-button" onclick="loadItemDetails('{{item.name}}')">Add</button>
           </button>
       
       {% endif %}
       
   
       {% if not item.variants.all %}
       <div class="bottom">
         <button type="button" class="add-button" onclick="addToCart('{{item.name}}', {{item.price}});">Add</button>
       </button>
       {% endif %}
       </div>
     </ul>
   </div>
   </div>
   {% endfor %}
         </div>
 </section>
 {% endfor %}





 const url = `update_total/`;

 $.ajax({
   url: url,
   type: 'POST',
   data: JSON.stringify({
     total_amount: totalWithTips,
     order_id: orderId,
 }),
 contentType: 'application/json',
headers: {
 'X-CSRFToken': getCookie('csrftoken')
},
   success: function(response) {
       if (response.status === 'success') {
           if (typeof response.total_amount === 'number') {
               $('#button-total .label17').text(response.total_amount.toFixed(2) + " €");
           }
       }
   },
   error: function(xhr, status, error) {
       console.log('Error details:', {
           status: xhr.status,
           statusText: xhr.statusText,
           responseText: xhr.responseText
       });
       console.error('Ajax error:', error);
   }
});





const url = `save_tip_percentage/`;
  

      $.ajax({
          url: url,  
          method: 'POST',
          data: {
              tip_percentage: tipPercentage,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(response) {
            console.log('Tip percentage saved:', response);
    
        
            if (response.status === 'success') {
            
                const currentTipPercentage = response.currentTipPercentage;
    
                console.log('Current Tip Percentage:', currentTipPercentage);
     
            }
        },
          error: function(xhr, status, error) {
              console.error('Error saving tip percentage:', error);
          }
      });